/* UTILITIES */
.opacity-70 { opacity: .7; }
.opacity-50 { opacity: .5; }
.opacity-30 { opacity: .3; }

.two-col-no-padding {
    *:first-child {
        padding-left: 0 !important;
    }
    *:last-child {
        padding-right: 0 !important;
    }
}
