/* BUTTONS */
a {
    text-decoration: underline;
    transition: color .2s ease-in-out;
}

.btn {
    border-radius: 0;
    font-size: .875em;
    letter-spacing: .05em;
    padding: .5em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    padding: .5em;
    text-decoration: none;

    h4 {
        margin: 0;
    }
}

.navbar-toggler {
    border: none;
    height: 44px;

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241,235,220, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        color: $offwhite;
    } 
}
