.hamburger {
    z-index: 120;
}

/* FULL-NAV */

.full-nav {
    align-items: center;
    background-color: $black;
    display: flex;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;

    .full-nav__projects {
        display: none;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
        width: 50%;

        @include lg {
            display: flex;
        }
    }

    .full-nav__project--featured {
        width: 100%;
        height: 50vh;
    }

    .full-nav__project--nonfeatured {
        height: 50vh;
        width: 50%;
    }

    .full-nav__project {
        background-position: center;
        background-size: auto 100%;
        display: block;
        position: relative;
        transition: background-size .3s ease-in-out;

        &:hover {
            background-size: auto 108%;

            p {
                color: $offwhite;
            }
        }
    }

    .project-text {
        bottom: 0em;
        position: absolute;
        left: 2em;
    }

    .full-nav--right {
        width: 100%;

        @include lg {
            width: 50%;
        }
    }

    .navbar-nav {
        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;
        position: relative;
        width: 100%;

        @include lg {
            align-items: start;
            padding: 0 0 0 4em;
        }

        .nav-item {
            h2 {
                margin-bottom: .25em;
            }
            &:last-child h2 {
                margin-bottom: 0;
            }
        }

        a.nav-link {
            color: $offwhite;
            opacity: 1;
            text-align: center;
            text-decoration: none;
    
            @include lg {
                font-size: .75em;
                text-align: left;
            }

            @include xl {
                font-size: 1em;
            }
    
            &:hover {
                color: $blue;
            }
        }
        
    }

    .full-nav__social {
        bottom: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
    
        @include lg {
            flex-direction: row;
            justify-content: space-between;
            padding: 0 2em 2.5em 4em;
            position: relative;
            width: 100%;
        }
        
        a {
            margin: 0 auto 1em;
    
            @include lg {
                margin: 0;
            }
        }
    }
    
    .navbar-social {
        text-align: center;
    }
}

// Toggle classes
.full-nav {
    transition: opacity .3s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.full-nav.active {
    opacity: 1;
    height: 100vh;
}
