#mini-nav {
    align-items: center;
    bottom: 1em;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.readmore {
    bottom: 1em;
    display: flex;
    align-items: center;
    justify-items: space-around;
    margin: auto;
    position: absolute;

    #readmore {
        text-decoration: none;
        margin: auto;
    }

    .eyebrow:before {
        display: none;
    }
}