/* TYPOGRAPHY */

h1, .h1 {
    font-family: $headings-font-family;
    font-size: 3.5em;
    font-style: normal;
    font-weight: $font-weight-base;
    line-height: $display-line-height;
    letter-spacing: -0.01em;
    text-align: center;

    @include md {
        font-size: 4.5em;
    }

    @include lg {
        font-size: 6em;
    }
}

h2, .h2 {
    font-size: 4.5em;
    line-height: .825;
    margin-bottom: .5em;
}

h3, .h3 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

h4, h5, h6 {
    font-family: $font-family-base;
}

.lead {
   font-size: 1.5em; 
   text-align: center;
}

// eyebrow header
.eyebrow {
    color: $offwhite;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1;
    text-transform: uppercase;
}

.eyebrow:before {
    background-color: $blue;
    content: '';
    display: inline-block;
    height: .75em;
    margin-right: .5em;
    width: .75em;
}

// Paragraphs

p, .p {
    font-size: 1em;
    letter-spacing: .02em;
    line-height: 1.75;

    // @include lg {
    //     font-size: 1.1em;
    // }
}

.text-shadow {
    text-shadow: 0 4px 4px rgba($black, .5);
}

// Other Styles