<!-- Footer -->
<div class="container">
    <div class="row">
        <h2 class="col-12">Let&rsquo;s work together</h2>
        <p class="col-12 col-lg-8 offset-lg-2">I&rsquo;m currently looking for fulltime and contract opportunities upon graduating from my Master&rsquo;s of Human-Computer Interaction from Carnegie Mellon. Please reach out to me at <a href="mailto:steve@steveorchosky.com">steve@steveorchosky.com</a> to discuss projects, or just to say hello.</p>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-5">
                <a href="./" class="footer-brand">
                    <h4>Steve Orchosky</h4>
                </a>
                <p>Interaction Designer &amp; Digital Strategist</p>
            </div>
            <div class="col-12 col-sm-8 col-lg-4">
                <h4>Contact</h4>
                <a href="mailto:steve@steveorchosky.com">steve@steveorchosky.com</a>
            </div>
            <div class="col-12 col-sm-4 col-lg-3">
                <h4>Social</h4>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="social-icon" href="https://www.linkedin.com/in/steve-orchosky/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-icon" href="https://dribbble.com/sorchosky" target="_blank">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-icon" href="https://www.instagram.com/sorchosky/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>